body {
    background-color: black;
    background-image: url("../final/background.png");
    background-repeat: repeat;
    color: white;
    justify-content: center;
    align-items: center;
}

abouttext {
    font-family: Roboto;
    font-weight: 300;
    font-size: 2em;
}

.spritzed {
    color: white;
    position: relative;
    font-family: Roboto;
    font-weight: 300;
    font-size: 6em;
    top: 41%;
    opacity: 1;
	animation-name: fadeIn;
	animation-timing-function: ease-in;
	animation-duration: 2.5s;
}

@keyframes fadeIn {
	0% {
		opacity: 0%;
	}
	100% {
		opacity: 100%;
	}
}

.spritzed::before, .spritzed::after {
    display: block;
    position: absolute;
    left: 50%;
    margin-left: -1px;
    height: 10px;
    width: 2px;
    top: 0;
}

.spritzed > div {
    position: absolute;
}

.highlight {
    color: red;
    text-shadow: red;
}

news {
    display: none;
}


.modalheader {
    font-family: Roboto;
    font-weight: 600;
    font-size: 1.25em;
    text-align: center;
    line-height: 10px;
    color: black;
}

.modal {
    background-color: white;
    color: black;
    display: block;
    position: absolute;
    box-shadow: 4px, 8px;
    animation-name: modalLisa;
	animation-timing-function: ease-in;
    animation-duration: 10s;
    top: 90%;
    left: -1%;
    width: 101%;
    height: 10%;
    font-family: Roboto;
    font-weight: 300;
    font-size: 1.25em;
    text-align: center;
    line-height: 5px;
}


@keyframes modalLisa {
	0% {
        top: 100%;
    }
    70% {
        top: 100%;
    }
	100% {
        top: 90%;
	}
}

.modalclose {
    position: absolute;
    top: 5px;
    right: 10px;
  }

.modalclose:hover {
    cursor: pointer;
}

.modalabout {
    position: absolute;
    top: 25px;
    right: 10px;
  }

.modalabout:hover {
    cursor: pointer;
}
