body {
    background-color: black;
}

.logo {
    color: white;
    font-family: 'Overpass', Roboto, sans-serif;
    font-size: 48pt; 
    font-weight: 900;
    margin-left: 2.5%;
    margin-top: 2.5%;
    margin-right: 70%; /* lol this is hacky but i'm lazy */
}

.para {
    color: white;
    font-family: Roboto;
    font-weight: 300;
    font-size: 36pt;
    margin-left: 2.5%;
    line-height: 1.2em;;
}
